@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-style: italic;
  src: url("/fonts/poppins/Poppins-BoldItalic.ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
  src: url("/fonts/poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  font-style: italic;
  src: url("/fonts/poppins/Poppins-SemiBoldItalic.ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
  src: url("/fonts/poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: italic;
  src: url("/fonts/poppins/Poppins-MediumItalic.ttf");
}


@font-face {
  font-family: "Poppins";
  font-weight: normal;
  font-style: italic;
  src: url("/fonts/poppins/Poppins-Italic.ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 300;
  font-style: normal;
  src: url("/fonts/poppins/Poppins-Light.ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 300;
  font-style: italic;
  src: url("/fonts/poppins/Poppins-LightItalic.ttf");
}


@font-face {
  font-family: "Poppins";
  font-weight: 100;
  font-style: normal;
  src: url("/fonts/poppins/Poppins-Thin.ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 100;
  font-style: italic;
  src: url("/fonts/poppins/Poppins-ThinItalic.ttf");
}